body{font-family: 'Times New Roman';
     font-size: larger;
}
#pic{text-align: center;
    
}
#img1{margin-top: 40px;

}
#name{text-align: center;
    height: 100px;

}
/*li{display: inline-block;
   width:400px;
   
   
}*/
.link{text-decoration: none;
       color:rgb(255, 255, 255);
}

nav{background-color: rgba(230, 159, 36, 0.567);
    display: inline-block;
    width: 80%;
}
nav img{width: 10%;
       margin-left: 5px;
}
header{background-color: silver;}
p{line-height:45px;}
#para{background-color: silver;}
 #anc{text-decoration: none;
       font-size: larger;
       font-weight: 550;
       

}
.parent{height: 500px;
        width: 500px;
        border: 2px solid black;
        margin-left: 400px;
        background-color: rgb(211, 177, 53);    
        display: grid;
        grid-template-columns:40% 40%;
        justify-content: center;
        grid-gap:20% ;
        align-items: flex-start;
}
.child{height: 80px;
       width: 100%;
       font-weight: 600;

}

#box1{background-color: aqua;
      background-image:url(image1.jpg) ;
      background-size: cover;
}
#box2{background-color: beige; background-image:url(image1.jpg) ;
       background-size: cover;}
#box3{background-color: brown; background-image:url(image1.jpg) ;
       background-size: cover;}
#box4{background-color: cadetblue;
 background-image: url(image2.JPG);
 background-size: cover;
}
#box5{background-color: coral;
       background-image: url(image2.JPG);
       background-size: cover;}
#box6{background-color: darkseagreen;
       background-image: url(image2.JPG);
       background-size: cover;}

footer{background-color: rgba(2, 1, 3, 0.284);
       font-size: xx-large;
       text-align: center; 
       color: white;
       font-weight: 400;
       height: 100px;
       padding-top: 40px;
}
.Parent{height: 450px;
        width: 550px;
        background-color: rgb(201, 164, 109);
        margin-left: 440px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;



}
.baby{height: 160px;
      width: 150px;


}
#Box1{background-color: aqua;
       background-image:url(image1.jpg) ;
       background-size: cover;
 }
 #Box2{background-color: beige; background-image:url(image1.jpg) ;
        background-size: cover;}
 #Box3{background-color: brown; background-image:url(image1.jpg) ;
        background-size: cover;}
 #Box4{background-color: cadetblue;
  background-image: url(image2.JPG);
  background-size: cover;
 }
 #Box5{background-color: coral;
        background-image: url(image2.JPG);
        background-size: cover;}
 #Box6{background-color: darkseagreen;
        background-image: url(image2.JPG);
        background-size: cover;}

        #anb{text-decoration: none;
              font-size: larger;
              font-weight: 550;}
              