body{font-family: 'Times New Roman';
     font-size: larger;
}
#pic{text-align: center;
    
}
#img1{margin-top: 40px;

}
#name{text-align: center;
    height: 100px;

}
li{display: inline-block;
   width:400px;
   
   
}
.link{text-decoration: none;
       color:rgb(255, 255, 255);
}

nav{background-color: black;}
header{background-color: silver;}
p{line-height:45px;}
#para{background-color: silver;}
footer{background-color: rgba(2, 1, 3, 0.284);
       font-size: xx-large;
       text-align: center; 
       color: white;
       font-weight: 400;
       height: 100px;
       padding-top: 40px;
}